* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrong {
  color: red;
  margin: -18px 0 22px;
}

.correct {
  color: green;
  margin: -18px 0 22px;
}

.output {
  margin: 20px auto;
  padding: 0 30px;
  width: 600px;
  background-color: rgb(190, 190, 190);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

p {
  display: block;
  white-space: nowrap;
  margin: 12px 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #dddddd;
}
